<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Conneqt\SpecialPrices\Api\SpecialPriceRepositoryInterface" type="Conneqt\SpecialPrices\Model\SpecialPriceRepository" />
    <preference for="Conneqt\SpecialPrices\Api\Data\SpecialPriceInterface" type="Conneqt\SpecialPrices\Model\SpecialPrice" />
    <preference for="Conneqt\SpecialPrices\Api\Data\SpecialPriceSearchResultInterface" type="Conneqt\SpecialPrices\Model\SpecialPriceSearchResult" />
    <preference for="Conneqt\SpecialPrices\Api\Data\CalculateRequestInterface" type="Conneqt\SpecialPrices\Model\CalculateRequest" />

    <type name="Magento\Catalog\Pricing\Price\FinalPrice">
        <plugin name="modifyFinalPrice" type="Conneqt\SpecialPrices\Plugin\ModifyFinalPrice" />
    </type>

    <type name="Magento\Framework\View\Element\AbstractBlock">
        <plugin name="remove_block" type="Conneqt\SpecialPrices\Plugin\RemoveBlockWhenDisabled" />
    </type>
</config>
